* {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
.name {
  border-radius: 50%;
  margin-left: 10px;
  background-color: grey;
  padding: 10px 10px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
  text-align: left;
  width: fit-content;
}

.menu {
  position: absolute;
  font-size: 20px;
  color: rgb(223, 223, 223);
  background-color: #006d69;
  width: 100vw;
}
.list {
  position: absolute;
  top: 11px;
  right: 20px;
  display: flex;
}
.list li {
  cursor: pointer;
  margin-right: 5px;
  padding: 3px 10px;
  right: 0;
  list-style: none;
}
.list li:hover {
  font-size: 21px;
  color: white;
  text-decoration: underline;
}
.header {
  position: relative;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 95vh;
  background-image: url("../img/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerName {
  color: rgb(223, 223, 223);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
}
.headerName span {
  font-family: "Dancing Script", cursive;
  font-size: 75px;

  margin-bottom: 0;
}
.headerName p {
  text-decoration: underline;
  margin-top: 0;
  font-size: 30px;
}
.headerName a {
  background-color: #02b5ae;
  padding: 7px;
  border-radius: 24px;

  text-decoration: none;
  color: black;
}

.headerName a:hover {
  font-size: 20px;
  background-color: #0d319b;
  color: aliceblue;
  text-decoration: underline;
  padding: 15px;
}
.aboutMe {
  border: solid #0d319b;
  border-radius: 24px;
  position: relative;
  top: 10vh;
  min-height: 70vh;
  margin: auto 10rem;
  padding: 3rem;
  text-align: center;
}
.aboutTitle:hover {
  color: #02b5ae;
}
.aboutMe span {
  font-weight: bold;
}
.aboutMe i {
  font-size: 45px;
  color: rgb(99, 99, 99);

  margin-bottom: 0;
}

.aboutTitle {
  margin-top: 0;
  margin-bottom: 2em;

  font-size: 38px;
  text-decoration: underline;
}
.aboutMe p {
  font-size: 25px;
}
/*services section */

.services {
  width: 100%;
  margin-top: 7em;
  background-color: greenyellow;
  text-align: center;
  height: 90vh;
  background-image: url("../img/services1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*services section */

/*contect me*/

.contactMe {
  width: 100%;
  height: 50vh;
  background-color: #000;
  color: white;
}

/*contect me*/
